.wrapper{
  position: relative;
  top: 50%;
  left: 50%;
  margin: 40px;
  transform: translateX(-140px);
  margin-bottom: 100px;


}

.but{

  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  padding: 20px;
}

.but span{
  position: relative;
  z-index: 2;
}

.but:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #b49277;
  transition: all 0.5s;
}

.but:hover{
  color: #fff;
}

.but:hover:after{
  width: 100%;
}